/* navigation section */
a.nav-link{
    margin:0rem 1.5rem;

}
a.navbar-brand{
    font-size: 3.15rem;
    margin-left: 4%;
}
div.container-fluid
{
   
    padding: 3% 15%;
}
.navbar-brand{
    font-size: 4rem;
}

.navbar{
   
   padding: 15%;
   font-size: 1.5rem;
   
   
}


/* tile section */
#title{
    background-color:#ff4c68;
  
}
div h1{
   
    text-align:left;
    font-size: 4rem;
    

}
.download{
    text-align: center;
    padding-top: 7%;

}
button.downloadButton{
    margin-right : 5% ;
    margin-top: 5%;
    font-size: 1.5rem;
}
.iphone-image{
   
    text-align: center;
    margin-top: 4%;
    
}
.icon{
    margin-right: 2%;
   
}
img.main-image{
    transform: rotate(20deg);
    width: 60%;
}

/* feature section */
#features{
    background-color: white;
    margin: 10% 15% 10%  ;
    
}
.feature{
    text-align: center;
 
}
div h3{
    font-size: 2rem;
    margin-bottom: 5%;
    padding: 0% 10%;
}
.feapara{
    padding: 0% 10%;
    font-size: 1.15rem;
}
.feaicon {
   margin-bottom: 10%;
   color:#ef8172;
}
.feaicon:hover{
    color:#ff4c68 ;
}

/*Testimonials section  */

#testimonials{
    background-color: #ef8172;
    text-align: center;
    padding:5% 15%;
    color: white;
    
}
section h2{
    text-align: center;
  
    line-height: 1.5;
    font-size: 3rem ;
    margin-bottom: 5%;
  
}
.test-image{
    width: 12%;
    
    border-radius: 100%;
    margin-right: 5%;
}
.carousel-item{
    padding: 7% 15%;
}

/* press section */
#press{
    background-color:#ef8172 ;
    text-align: center;
    padding-bottom: 3%;
}
.pressimage{
    width:15%;
    margin: 5% 2.5% 5% 2.5%;

}
/* price section */
#pricing{
    padding: 100px;
}
div.price{
    text-align: center;
    margin-bottom: 5%;
}
.card{
    text-align: center;
}
 h2.pricehead{
    text-align: center;
  
    line-height: 1.5;
    font-size: 4rem;
    margin-bottom: 2%;
  
}
.pricep{
    font-size: 1.5rem;
    
}

/* Call to Action  */
#cta{
    background-color: #ff4c68;
    text-align: center;
    padding:7% 15%;
}
.ctahead{
   font-size: 3rem;
   color: white;
   margin-bottom: 3%;
   line-height: 1.5;
}

.downloadButton2{
    margin-right: 2rem;
}

/* footer section */
#footer{
 
    font-size: 1rem;
    text-align: center;
    color:black;
    margin: 2% 10% 5%;
    padding: 5% 15%;
   
    
    
}
.socialicon{
    margin: 3%;

}
@media (max-width: 991px) {

    div h1{
        
        text-align: center;
        
    
    } 
    img.main-image{
        transform: rotate(0deg);
    }
    
}

